.login-container {
    border-radius: 10px;
    width: 450px;

    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.icon {
    color: rgb(228, 21, 21);
    border-radius: 20px;

}